.mobile_menu {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  left: 0;
  top: 0;
  z-index: 999;
  opacity: 0;
  box-shadow: 0px 29px 80px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  transform: translateX(-100vw);
}

@media (max-width: 769px) {
  .mobile_menu {
    display: block;
    position: fixed;
  }
}

.mobile_menu_container {
  width: 60vw;
  height: 100%;
  background-color: #342864;
  padding: 2rem;
}

.mobile_menu.active {
  opacity: 1;
  transform: translateX(0);
}

.mobile_menu_container ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  /* margin-left: -2rem; */
}
