.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem 2rem;
  position: relative;
  width: 100%;
}

.projects .projects__title {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
}

.projects .projects__title span {
  color: #313bac;
}

.projects .projects__container {
  width: 90%;
  height: 100%;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  gap: 1rem;
  flex-wrap: wrap;
}

.projects .projects__container .project__card {
  width: 300px;
  height: 250px;
  background: rgba(22, 17, 47, 0.398);
  backdrop-filter: blur(1rem);
  border: 1px solid #6751b9;
  padding: 0.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}

.project__card_icon {
  border-radius: 10px;
  align-self: center;
}

.project__card_name {
  color: #fff;
  background: linear-gradient(180deg, #313bac 26.71%, #040d66 99.36%);
  box-shadow: 0px 20px 24px 3px #313bac(251, 161, 40, 0.42);
  border-radius: 0.3rem;
  font-size: 0.7rem !important;
  font-weight: 400;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  border: none;
}

.modal_container_slider {
  width: 100%;
}

.modal_container_slider_image {
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
