.education__section-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.education__title-text {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  color: #313bac;
  text-transform: capitalize;
}

.education_content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.education_card {
  padding: 1.5em;
  background: rgba(22, 17, 47, 0.398);
  backdrop-filter: blur(1rem);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #6751b9;
  border-radius: 10px;
  width: 300px;
  height: 250px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 2rem;
}



.education_card_details h3 {
  font-size: 0.8rem;
  font-weight: 800;
}

.education_card_details h4 {
  font-size: 0.7rem;
  font-weight: 400;
}

.education_card_details p {
  font-size: 0.5rem;
  font-weight: 400;
}

.education_card_image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.education_card button {
  font-size: 0.7rem;
  font-weight: 400;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  background: linear-gradient(180deg, #aa94fe 0%, #7c5fe6 100%);
  border: none;
  border-radius: 0.3rem;
}

.university_icon{
  border-radius: 50%;
}

.modal_container_education {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #130f2a;
  border-radius: 0.65rem;
  border: 1px solid #6751b9 !important;
  padding: 1.5rem;
}

.modal_container_edu_close{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.modal_container_description_edu {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow-y: auto;
  padding: 5px;
  align-items: center;
}

.modal_container_description_edu::-webkit-scrollbar {
  width: 8px; 
}

.modal_container_description_edu::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.modal_container_description_edu::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px; 
}

.modal_container_description_edu::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.edu_subjects{
  width: 90%;
}