.contact__section {
  display: flex;
  width: 90%;
  flex-direction: column;
  background-color: transparent;
  position: relative;
  margin-bottom: 3rem;
}

.contact__section-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact__title-text {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
}

.contact__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 50px;
  gap: 40px;
}



.contact__content_contactInfo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 70%;
}



.contact_details_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #130f2a;
  border-radius: 0.65rem;
  border: 1px solid #6751b9;
  padding: 1.5rem;
  width: 42%;
}

@media (max-width: 700px) {
  .contact_details_card {
    width: 100%;
  }
}

.contact_details_card_icon {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background: #3d3072;
  margin-bottom: 0.8rem;
}

.contact_details_card p {
  font-size: 0.8rem;
  font-weight: 400;
  margin: 2px;
}

.contact_details_card a {
  font-size: 0.8rem;
  font-weight: 400;
  color: #fff;
  margin: 2px;
}

.contact-form-content {
  width: 70%;

}

@media (max-width: 700px) {
  .contact-form-content {
    width: 100%;
  }
}

.contact-form-content form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}

.name-container {
  display: flex;
  gap: 20px;
}



@media (max-width: 700px) {
  .name-container {
    flex-direction: column;
  }

  .name-container input {
    width: auto;
  }
}

.contact-form-content form input,
.contact-form-content form textarea {
  font-size: 0.9rem;
  color: #fff;
  background: #130f2a;
  border-radius: 0.6rem;
  border: 1px solid #6751b9;
  padding: 1rem;
}

.input_error{
  border: 1px solid red!important;
}

.error_message{
  font-size: 0.9rem;
  color: red
}

.contact-form-content form button {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  border: 1px solid #a892fe;
  border-radius: 0.6rem;
  background: linear-gradient(90deg, #a892fe 0%, #8064e8 100%);
  padding: 0.7rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.contact-form-content form button:hover {
  color: #a892fe;
  background: transparent;
}

.input_field_section{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.modal_container_contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #130f2a;
  border-radius: 0.65rem;
  border: 1px solid #6751b9 !important;
  padding: 1.5rem;
}

.modal_container_contact_title {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.modal_container_contact_content{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.modal_container_contact_response{
  font-size: 1rem !important;
  font-weight: 400;
  color: #fff;
}