.experience_section {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: black;
  position: relative;
}

.experience_container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.experience__section-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.experience__title-text {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
}

.experience__title-text span {
  color: #313bac;
}

.experiance_section_timeline {
  margin: 0 auto;
  max-width: 750px;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
  color: #ffffff;
}

@media (max-width: 700px) {
  .experiance_section_timeline {
    display: none;
  }
}
.timeline__component {
  margin: 0 20px 20px 20px;
}

.experiance_section_timeline_mobile {
  margin: 0 auto;
  max-width: 750px;
  padding: 25px;
  display: none;
  color: #ffffff;
}

@media (max-width: 700px) {
  .experiance_section_timeline_mobile {
    display: block;
  }
  .experiance_card_mobile {
    display: flex;
  }
  .timeline__left_mobile {
    position: relative;
    background: #ffffff;
  }
  .experiance_card_mobile_line {
    width: 10px;
    background: #ffffff;
  }
}

.timeline__date--right {
  text-align: right;
}

.timeline__middle {
  position: relative;
  background: #ffffff;
}

.timeline__point {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background: #ffffff;
  border-radius: 50%;
}

.timeline__point-bottom {
  top: initial;
  bottom: 0;
}

.timeline__component--bg {
  padding: 1.5em;
  background: rgba(22, 17, 47, 0.398);
  backdrop-filter: blur(1rem);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #6751b9;
  border-radius: 10px;
}

.timeline__component--bg h2 {
  display: inline-block;
  background: rgba(103, 81, 185, 0.5);
  border-radius: 0.3rem;
  font-size: 1rem !important;
  font-weight: 400;
  padding: 0.4rem 0.6rem;
}

.timeline__component--bg h3 {
  font-size: 0.7rem;
  font-weight: 800;
}

.timeline__component--bg p {
  font-size: 0.7rem;
  font-weight: 400;
}

.timeline__component--bg button {
  font-size: 0.7rem;
  font-weight: 400;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  background: linear-gradient(180deg, #aa94fe 0%, #7c5fe6 100%);
  border: none;
  border-radius: 0.3rem;
}

.modal_container_experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #130f2a;
  border-radius: 0.65rem;
  border: 1px solid #6751b9 !important;
  padding: 1.5rem;
}

.modal_container_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.modal_container_title h2 {
  font-size: 1.05rem;
  font-weight: 400;
}

.modal_container_description {
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow-y: scroll;
}

.modal_container_date {
  display: inline-block;
  background: rgba(103, 81, 185, 0.5);
  border-radius: 0.3rem;
  font-size: 0.7rem !important;
  font-weight: 400;
  padding: 0.4rem 0.6rem;
  margin-bottom: 1.3rem;
}

.modal_container_description_experiance li {
  list-style: none;
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  position: relative;
}

.modal_container_description_experiance li::after {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  background-color: #6751b9;
  position: absolute;
  left: -1.3rem;
  top: 0.35rem;
}
