@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --breakpoint-mobile: 576px;
  --breakpoint-mobile-rotate: 640px;
  --breakpoint-tablet: 900px;
  --breakpoint-desktop: 1500px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #060417;
  overflow-x: hidden !important;
  /* overflow-y: hidden; */
  /* max-height: 100vh; */
}
@import "./home/home.css";
@import "./top-navbar/top_navbar.css";
@import "./top-navbar/mobile_navbar.css";
@import "./header/header.css";
@import "./fireWorks/fireWorks.css";
@import "./about/about.css";
@import "./skills/skills.css";
@import "./projects/projects.css";
@import "./experience/experience.css";
@import "./education/education.css";
@import "./contact/contact.css";
@import "./footer/footer.css";
